.App {
  text-align: center;
}


.AppHeader {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}


::placeholder {
    color: black;
    font-family: var(--font-family);
    font-size: var(--font-size-large);
}

.workouts {
  background-color: var(--background-body);
}

#workouts {
  background-color: var(--background-lighter);
  color: white;
}

.workouts:active{
  background-color: var(--purple-light);
}

