.search {
    margin-bottom: 12px;
    border: 3px;
    padding: 40px;
    border-radius: 3px;
    animation-name: colorFlow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-bottom: 60px;
}
.box {
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px;
    margin: 8px;
    background-color: rgb(127, 127, 245);
    
}







@keyframes colorFlow {
    from {background-color: var(--background-lighter); color: white;}
    to {background-color: rgb(81, 81, 247); color: black;}
    
}

