.Icon {
    font-size: 24px;
    background-color: inherit;
    /* background-color: rgb(216, 176, 244); */
    border-radius: 40%;
    border-color: white;
    padding: 4px;
    margin: 8px;



}
.Icon[data-clickable]:hover {
    cursor: pointer;
    opacity: 0.8
}

